body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0;
    padding: 1em 0;
    width: 100%;
    position: relative;
    background-color: white;
}

@media  (min-width: 950px) {
    nav {
        grid-template-columns: 1fr 3fr;
    }
}

nav a {
    margin: auto;
}

nav a img:first-of-type {
    width: 1.5em;
}

nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style:none;
    text-align: center;
    background-color: white;
    transition:transform .3s;
    transform:translatex(-100%);
}

@media  (min-width: 950px) {
    nav ul {
        position: static;
        display: flex;
        justify-content: flex-end;
        top: 0%;
        background-color: transparent;
        transform:translatex(0);
    }
}

nav ul li {
    padding: .5em;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 1em;
}

@media  (min-width: 950px) {
    nav ul:first-of-type li:last-of-type {
        margin-right: 4em;
    }
}

nav ul li:hover {
    transition: .3s ease-in-out;
    transform: scale(1.05);
}

nav ul:first-of-type.toonMenu {
    transform:translatex(0);
}

nav button {
    border: none;
    background: none;
    display: flex;
    position: relative;
    left: 1.5em;
    order:-1;
}

nav button img {
   width: 2em;
}

@media  (min-width: 950px) {
    nav button {
        display: none;
    }
}